body{
	background-color: #e5e5e5;
	font-family: arial;

}
header{
	height: 50px;
	background-color: #dd9f33;

	
}
.header-cont img{
	padding-right: 610px;
	margin-top: 10px;

}




}
.header-cont{
	width: 1200px;
	margin: 0 auto;
	/*s*/

}
.header-cont ul{
	float: right;

}
.header-cont ul li{
	float: left;
	list-style: none;
	display:inline-block;
	/*padding: 20px;*/
	/*font-size: 13px;
	padding: left;
	color: #000;*/

}
.header-cont ul li a{
	/*s*/
	text-align: right;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	padding: 20px;
	font-weight: uppercase;
	
	

}
.header-cont img{
	float: left;
	padding-top: 5px;
	padding-left: 75px;

}

	/*margin-right: 60px;
	margin-bottom: 60px;  
}*/
/*.header-cont img{
	margin-top: 10px;*/
	/*padding-left: 75px;*/
	/*margin-bottom: 60px;*/




.mee h1{
	color: #dd9f33;
	margin: 0 0 14px 0;
	padding: 0; 
}
.mee h4{
	margin: 0 0 20px 0;
	padding: 0;
	color: #505050;
}

.content{
	width: 1080px;
	background: white;
	margin: 0 auto;
	min-height: 500px;
	padding: 60px;
	padding-bottom: 60px;
	/*sssss*/
}
.mee img {
	margin-right: 60px;
	margin-bottom: 60px;
	float: left;

}
.mee p{
	line-height: 1.5em;
	font-size: 20px;
}
featured{.content
	float: right;
	margin-right: 50px;
	margin-bottom: 50px;
}
/*.myn{
	float: left;
	text-align:left;
}*/
.onn{
	text-align: center;
	float: left;

}

	
	
}
.content.thumbs{
	overflow: auto;
	
}
.thumb1{
	float: left;
	padding-right: 40px;
	
}
.thumb2{
	padding-right : 35px;
	float: left;
}
.thumb3{
	float: left;
	
}
footer{
	font-size: 12px;
	text-align: center;
	color: #444;
	padding-top: 20px;
	padding-bottom: 100px;

}





